{% extends "base.html" %}
{% load static %}
{% block title %}忘記密碼{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/forget_password_mail.css' %}">
{% endblock %}
{% block content %}
    親愛的 <b>{{ account_name }}</b> 您好!<br>
    請點擊下方重設密碼連結重設密碼: <br>
    <a href="http://127.0.0.1:8000/user/{{ id }}/resetPassword/{{ token }}/">
        http://127.0.0.1:8000/user/{{ id }}/resetPassword/{{ token }}/
    </a>
{% endblock %}
{% block js %}
    <script src="{% static 'js/forget_password_mail.js' %}"></script>
{% endblock %}