<!DOCTYPE html>
{% load static %}
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HKShopU - 會員驗證信</title>
    <link rel="stylesheet" href="https://hkshopu.df.r.appspot.com/static/css/validation_mail.css">
</head>
<body>
    <nav>
        <img src="https://hkshopu.df.r.appspot.com/static/images/logo.png" alt="Logo" id="logo-pic">
        <span id="title">HKSHOPU</span>
    </nav>

    <img src="https://hkshopu.df.r.appspot.com/static/images/validation.png" alt="validation-pic" id="validation-pic">

    <div id="main-content">
        <div id="content-title">
            親愛的顧客您好, 👋
        </div>
        <div id="content-body">
            <pre>
                歡迎來到HKSHOPU!
                您在HKSHOPU的帳號已創建。
                請至APP輸入以下驗證碼完成啟用操作：
            </pre>
            <div id="validation-code-block">
                <span id="validation-code">
                    {{ validation_code }}
                </span>
            </div>
        </div>
    </div>

    <footer>
        <pre id="contact-email">
            如果有任何問題，請隨時聯繫
            <a href="mailto:customer-service@hkshopu.com">
                customer-service@hkshopu.com
            </a>
        </pre>
        <div id="social-links">
            <img src="https://hkshopu.df.r.appspot.com/static/images/instagram_black.png" alt="instagram-icon" id="instagram-icon">
            <img src="https://hkshopu.df.r.appspot.com/static/images/facebook_black.png" alt="facebook-icon" id="facebook-icon">
        </div>
        <pre id="other-content">
            HKSHOPU     |     服務條款     |     隱私權政策
        </pre>
    </footer>

    <script src="https://hkshopu.df.r.appspot.com/static/js/validation_mail.js"></script>
</body>
</html>